<div class="footer">
  <div class="footer-left">
    <a href="https://www.facebook.com/GoodwoodBBQ/" target="_blank">Facebook</a>
    <a href="https://www.linkedin.com/company/goodwood-bbq-co/" target="_blank">Instagram</a>
    <%= link_to 'Catering', root_path %>
    <%= link_to 'Employment', root_path %>
  </div>
<!-- 
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    Copyright © 2017 | Goodwood BBQ | Site by Dem Boys
    <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/GoodwoodBBQ/" target="_blank">Facebook</a>
    <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/company/goodwood-bbq-co/" target="_blank">Instagram</a>
     link_to 'Catering', root_path, class: "grey-text text-lighten-4 right" 
     link_to 'Employment', root_path, class: "grey-text text-lighten-4 right" 
    </div>
  </div>
</footer> -->