<div class="footer">
  <div class="footer-left">
    <a href="https://www.facebook.com/GoodwoodBBQ/" target="_blank">Facebook</a>
    <a href="https://www.linkedin.com/company/goodwood-bbq-co/" target="_blank">Instagram</a>
    <%= link_to 'Catering', root_path %>
    <%= link_to 'Employment', root_path %>
  </div>

  <div class="footer-right">
    <p>Copyright © 2017 | Goodwood BBQ | Site by Dem Boys</p>
  </div>
</div>  