<footer class="page-footer nav-bar">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Thanks for stopping by!</h5>
        <p class="grey-text text-lighten-4">We appreciate your business.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Other Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><%= link_to 'Catering', cater_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Employment', employment_path, class: 'grey-text text-lighten-3' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Goodwood BBQ | Site by Sergio Gomes and Victor Laucas
    </div>
  </div>
</footer>