<div class="container">
  <h1>Catering Requests</h1>
  <div class="row">
    <div class="col s12 m12">
      <div class="card grey lighten-3">
        <div class="card-content black-text z-depth-5">
            <p>
              Business lunches and dinners, family-gatherings, weddings and rehearsal dinners, receptions, company barbecues, holiday parties, you name it. 
              We offer full-service event planning and custom packages to your specifications. On-site grilling, pick-up, delivery and setup available. Ask about our special seasonal/holiday packages. References are available.
              If you want more information fill in this form. You will be contacted as soon as possible.
              Please fill in all required fields. You can view the latest <%= link_to "CATERING MENU HERE!", asset_path("GoodwoodCateringMenu.pdf"), class: 'red-text text-darken-4'%>
                   </div>
                  </div>
                </div>
              </div>

  </p>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="phone" type="text" class="validate">
          <label for="phone">Phone</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="address" type="text" class="validate">
          <label for="address">Address</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="city" type="text" class="validate">
          <label for="city">City</label>
        </div>      
        <div class="input-field col s3">
          <input id="zip" type="text" class="validate">
          <label for="zip">Zip Code</label>
        </div>        
        <div class="input-field col s3">
          <input id="state" type="text" class="validate">
          <label for="state">State</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="event" type="text" class="validate">
          <label for="event">Event</label>
        </div>
      </div>      

      <div class="row">
        <div class="input-field col s12">
          <input id="guests" type="text" class="validate">
          <label for="guests">Guests</label>
        </div>
      </div>      

      <div class="row">
        <div class="col s6">
          <div class="form-color">
            <label for="date">Date</label>
            <input id="date" type="text" class="datepicker">
          </div>
          <script type="text/javascript">
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15, // Creates a dropdown of 15 years to control year,
              today: 'Today',
              clear: 'Clear',
              close: 'Ok',
              closeOnSelect: false // Close upon selecting a date,
            });
          </script>
        </div>
     
        <div class="col s6">
          <div class="form-color">
            <label for="time">Time</label>
            <input type="text" class="timepicker">
          </div>  
          <script type="text/javascript">
            $('.timepicker').pickatime({
              default: 'now', // Set default time: 'now', '1:30AM', '16:30'
              fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
              twelvehour: true, // Use AM/PM or 24-hour format
              donetext: 'OK', // text for done-button
              cleartext: 'Clear', // text for clear-button
              canceltext: 'Cancel', // Text for cancel-button
              autoclose: false, // automatic close timepicker
              ampmclickable: true, // make AM PM clickable
              aftershow: function(){} //Function for after opening timepicker
            });
          </script>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Restaurant Closest to You</option>
            <option value="1">Meridian</option>
            <option value="2">Boise</option>
            <option value="3">Ogden</option>
            <option value="4">Draper</option>
          </select>
          <label>Restaurant</label>
          <script type="text/javascript">
            $(document).ready(function() {
              $('select').material_select();
            });
          </script>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="message" class="materialize-textarea"></textarea>
          <label for="message">Message</label>
        </div>
      </div> 
    </form>

    <a class="waves-effect waves-light btn">Submit</a>
  </div>
</div>  