<div class="container">
  <h1>Employment</h1>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="file-field input-field">
            <div class="btn">
              <span>Upload Resume</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input id="address" type="text" class="validate">
          <label for="address">Address</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="city" type="text" class="validate">
          <label for="city">City</label>
        </div>      
        <div class="input-field col s3">
          <input id="zip" type="text" class="validate">
          <label for="zip">Zip Code</label>
        </div>        
        <div class="input-field col s3">
          <input id="state" type="text" class="validate">
          <label for="state">State</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="phone" type="text" class="validate">
          <label for="phone">Phone</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="reference" type="text" class="validate">
          <label for="reference">Referred By</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="position" type="text" class="validate">
          <label for="position">Position</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="form-color">
            <label for="date">Date you can start</label>
            <input id="date" type="text" class="datepicker">
          </div>
          <script type="text/javascript">
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15, // Creates a dropdown of 15 years to control year,
              today: 'Today',
              clear: 'Clear',
              close: 'Ok',
              closeOnSelect: false // Close upon selecting a date,
            });
          </script>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="salary" type="text" class="validate">
          <label for="salary">Salary Desired</label>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <p>Are you employed?</p>
        </div>
        <div class="col s3">
          <input name="group1" type="radio" id="test1" />
          <label for="test1">Yes</label>
        </div>        
        <div class="col s3">
          <input name="group1" type="radio" id="test2" />
          <label for="test2">No</label>
        </div>
      </div>      

      <div class="row">
        <div class="col s6">
          <p>If so, may we contact your current employer?</p>
        </div>
        <div class="col s3">
          <input name="contact" type="radio" id="test3" />
          <label for="test3">Yes</label>
        </div>        
        <div class="col s3">
          <input name="contact" type="radio" id="test4" />
          <label for="test4">No</label>
        </div>
      </div>      

      <div class="row">
        <div class="col s6">
          <p>Have you ever applied to GoodWood BBQ?</p>
        </div>
        <div class="col s3">
          <input name="good" type="radio" id="test5" />
          <label for="test5">Yes</label>
        </div>        
        <div class="col s3">
          <input name="good" type="radio" id="test6" />
          <label for="test6">No</label>
        </div>
      </div> 

      <div class="row">
        <div class="input-field col s12">
          <input id="where" type="text" class="validate">
          <label for="where">Where?</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="form-color">
            <label for="date2">When?</label>
            <input id="date2" type="text" class="datepicker">
          </div>
          <script type="text/javascript">
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15, // Creates a dropdown of 15 years to control year,
              today: 'Today',
              clear: 'Clear',
              close: 'Ok',
              closeOnSelect: false // Close upon selecting a date,
            });
          </script>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Select Restaurant</option>
            <option value="1">Meridian</option>
            <option value="2">Boise</option>
            <option value="3">Ogden</option>
            <option value="4">Draper</option>
          </select>
          <label>GoodWood BBQ location</label>
          <script type="text/javascript">
            $(document).ready(function() {
              $('select').material_select();
            });
          </script>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <p>United States Military or Naval Service?</p>
        </div>
        <div class="col s3">
          <input name="military" type="radio" id="test7" />
          <label for="test7">Yes</label>
        </div>        
        <div class="col s3">
          <input name="military" type="radio" id="test8" />
          <label for="test8">No</label>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <p>Have you ever been convicted of a felony?</p>
        </div>
        <div class="col s3">
          <input name="felony" type="radio" id="test9" />
          <label for="test9">Yes</label>
        </div>        
        <div class="col s3">
          <input name="felony" type="radio" id="test10" />
          <label for="test10">No</label>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <p>E-Signature</p>
        </div>
        <div class="col s3">
          <input name="signature" type="radio" id="test11" />
          <label for="test11">Yes</label>
        </div>        
        <div class="col s3">
          <input name="signature" type="radio" id="test12" />
          <label for="test12">No</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="form-color">
            <label for="date3">E-Signature Date</label>
            <input id="date3" type="text" class="datepicker">
          </div>
          <script type="text/javascript">
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15, // Creates a dropdown of 15 years to control year,
              today: 'Today',
              clear: 'Clear',
              close: 'Ok',
              closeOnSelect: false // Close upon selecting a date,
            });
          </script>
        </div>
      </div>
    </form>

    <a class="waves-effect waves-light btn">Submit</a>
  </div>
</div>  