<!-- There are still notes to be updated on this page!!! -->
<div class="container">
  <h1>FAQS</h1>
  <div class="row">
    <div class="col s12 m12">
      <div class="card grey lighten-3">
        <div class="card-content black-text z-depth-5">
          <h5 class="card-title">RESERVATIONS</h5>
          <p>
            All stores accept reservations on most days of operation. Exceptions are holidays and Friday or Saturday evenings when limited reservation times apply on a store-by-store basis.
            (Note: add link to hours and locations)
          </p>

          <h5 class="card-title">BIRTHDAYS AND ANNIVERSARIES</h5>
          <p>
            Special occassions such as these deserve celebration. Please let your server know the occasion and at the end of your experience we will prepare for the birthday person or anniversary couple a special dessert compliments of Goodwood.
          </p>

          <h5 class="card-title">BIRTHDAYS AND ANNIVERSARIES</h5>
          <p>
            Special occassions such as these deserve celebration. Please let your server know the occasion and at the end of your experience we will prepare for the birthday person or anniversary couple a special dessert compliments of Goodwood.
          </p>

          <h5 class="card-title">CHILDRENS’ MENU</h5>
          <p>
            We offer a separate menu for children age 10 and under. (link to childrens menu)
          </p>

          <h5 class="card-title">GOOD TO GO AND A’ LA CARTE MENUS</h5>
          <p>
            Our menu is available to go and in addition we offer many items A’ la Carte style. For A’ la Carte selections, items are offered by the pound, pint, quart, etc., depending on the item. (Link to carry out menu)
          </p>

          <h5 class="card-title">DONATION REQUESTS</h5>
          <p>
            We participate directly with schools and non-profit childrens’ groups to support fundraising efforts. Due to the tremendous demand and number of requests, your group should submit a request on letterhead with your event details to our corporate office. We are unable to accommodate all requests and priority is given to schools, childrens’ groups and local support within the direct communities in which our restaurants operate. We are unable to donate food product. It is recommended your request be submitted two months in advance. We notify by telephone the donations we are able to participate in.
          </p>

          <h5 class="card-title">EMPLOYMENT OPPORTUNITIES</h5>
          <p>
            Hourly applicants should visit the store of their choice to submit an application. Recommended hours are Monday through Thursday between 2:00 p.m. and 4:00 p.m. Manager applicants should submit resumes to our corporate office.
          </p>

          <h5 class="card-title">GIFT CARDS</h5>
          <p>
            All stores sell gift cards directly to the public or they can be purchased online HERE. Our cards have no fees and no expiration dates. Balance information can be obtained HERE or by visiting any Goodwood Barbecue Company store. (Here will be link to giftcards)
          </p>

          <h5 class="card-title">DIETARY CONCERNS</h5>
          <p>
            When placing your order, please inform your server of any dietary needs. We do receive various requests such as vegetarian items and more specific requests such as calorie counts, gluten information and carbohydrate information. We are a restaurant that prepares most of our menu items from scratch. In addition, because we are a small company, we do not have caloric or carbohydrate information on our menus. With gluten, it is impossible for us to guarantee that there is not transfer of gluten within our operating environment.
          </p>

          <h5 class="card-title">CATERING</h5>
          <p>
            We love to bring Goodwood to you! We are a custom caterer, meaning we can develop a menu to fit your needs or allow you to select from our most popular options and price ranges. Please refer to our CATERING PAGE for details. (Link to catering page)
          </p>

          <h5 class="card-title">HOURS OF OPERATION AND DAYS CLOSED</h5>
          <p>
            Refer to the individual store for HOURS of operation. We are closed Thanksgiving and Christmas. (Link to locations page)
          </p>

          <h5 class="card-title">PLANNED RESTAURANT OPENINGS AND FRANCHISE QUESTIONS</h5>
          <p>
            CONTACT our corporate office for questions regarding openings. Currently we do not offer franchise opportunities. (Link to contact page)
          </p>

          <h5 class="card-title">PURCHASE OF SAUCES AND FOOD PRODUCTS</h5>
          <p>
            Please contact the store of your choice by telephone for all purchases. For barbecue sauces, the store can handle any requests for shipping.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
