<div class="container">
  <!-- Row One -->
  <div class="row">
    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="http://cdn-image.myrecipes.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/true-smoked-beef-brisket-sl.jpg?itok=TWxQ4jgK">
          <span class="card-title pic-words">Beef Brisket</span>
        </div>
        <div class="card-content">
          <p>Comes from the chest muscle. Cooked in our smoker over night for 12-14 hours. It is lean and extremely tender. The smoking process causes a pink ring around the edge of the meat. Popular item in Texas. We serve it on a sandwich, in platters, and in BBQ.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="http://agrilife.org/bbq/files/2011/10/206.jpg">
          <span class="card-title pic-words">West Texas Beef Ribs</span>
        </div>
        <div class="card-content">
          <p>3 1/4 lb. Beef Rib. Smoked twice a day. Usually has seven bones. Thick and meaty. Serve as full, 2/3 racks and half racks and also in BBQ. Offered in plate combos.</p>
        </div>
      </div>
    </div>
  </div>  

  <!-- Row Two -->

  <div class="row">
    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="https://www.aldi.us/fileadmin/_processed_/d/3/csm_072011_SEA_9082_RSL_BabyBackPorkRibs_Grill_Hero_D2_b8531db7e2.jpg">
          <span class="card-title pic-words">Baby Back Ribs</span>
        </div>
        <div class="card-content">
          <p>Smoked daily. Also called Loin backs. 2lb. Rib with usually bones. Seasoned and smoked three hours and finished with a mopping of Sassy Sauce. Leaner than our St. Louis ribs. The meat is loin meat and it is the same as you would get in pork chip. Served as full, 2/3 racks, half racks 1/3 racks and in combo plates.</p>
        </div>
      </div>
    </div>
  
    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="http://ilovemeat.com/wp-content/uploads/2014/04/st.louis-spare-ribs-9_C.jpg">
          <span class="card-title pic-words">St. Louis Ribs</span>
        </div>
        <div class="card-content">
          <p>Smoked with a generous seasoned rub for three hours daily and finished with a mopping of Sweet and Sassy. Traditional spare rib. 2 1/2 lb and usually 12 bones. Meaty and flavorful, but not as lean as Baby backs.</p>
        </div>
      </div>
    </div>
  </div>   

  <!-- Row Three -->

  <div class="row">
    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="https://www.maangchi.com/wp-content/uploads/2017/08/4.jpg">
          <span class="card-title pic-words">BBQ 1/2 Chicken</span>
        </div>
        <div class="card-content">
          <p>Smoked four times a day. 22 1/2 oz chicken, served whole or on BBQ.</p>
        </div>
      </div>
    </div>
  
    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="http://www.seriouseats.com/recipes/assets_c/2015/11/20151119-smoked-turkey-food-lab-01-thumb-1500xauto-427971.jpg">
          <span class="card-title pic-words">Smoked Turkey</span>
        </div>
        <div class="card-content">
          <p>Whole turkey breats smoked three to four hours and sliced. Served on sandwiches, platter, and on combo plates.</p>
        </div>
      </div>
    </div>
  </div>   

  <!-- Row Four -->

  <div class="row">
    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="http://howtobbqright.com/wp-content/uploads/2017/02/BostonButt_6_8.jpg">
          <span class="card-title pic-words">Pulled Pork</span>
        </div>
        <div class="card-content">
          <p>Bone-in pork shoulders smoked overnight 16-18 hours. Pork is then pulled from the bone and used in sandwiches, platters, and BBQ. One of our most popular items.</p>
        </div>
      </div>
    </div>
  
    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="http://blog.thermoworks.com/wp-content/uploads/2015/12/blog-prime-rib1-1.jpg.pagespeed.ce.bC8cpOmgp6.jpg">
          <span class="card-title pic-words">Smoked Prime Rib</span>
        </div>
        <div class="card-content">
          <p>10-15 lb. Select Midwest 21 day aged prime rib smoked for three hours. Cooked rare through well-done. We serve it in 8 oz., 12oz., and 16oz. cuts. It is served with horseradish saurce and Au-jus. </p>
        </div>
      </div>
    </div>
  </div>    

  <!-- Row Five -->

  <div class="row">
    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="http://thebarbeehousewife.com/wp-content/uploads/2014/08/cb6c9be2-2c0a-4b3d-9a2b-3343ec850274.jpg">
          <span class="card-title pic-words">Mopped Delmonico Steak</span>
        </div>
        <div class="card-content">
          <p>12 oz. Prime riby steak grilled and brushed with sassy sauce.</p>
        </div>
      </div>
    </div>
  
    <div class="col s12 m6">
      <div class="card medium z-depth-5">
        <div class="card-image">
          <img src="http://lovetobeinthekitchen.com/wp-content/uploads/2016/04/Smoked-Sausage-Hash-4-e1460770852929.jpg">
          <span class="card-title pic-words">Smoked Sausage</span>
        </div>
        <div class="card-content">
          <p>Smoked Hil Country sstyle sausage with coarse grind meat and natural casing. Served on platters and BBQ combo plates. </p>
        </div>
      </div>
    </div>
  </div>         

</div>