@import "materialize";
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.footer-right {
  text-align: right;
}

.footer-left {
  text-align: left;
}

body {
  background-color: #CBC7BC;
}

.nav-bar {
  background-color: #231F20;
}