@import "materialize";
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.footer-right {
  text-align: right;
}

.footer-left {
  text-align: left;
}

body {
  background-color: #CBC7BC;
}

.nav-bar {
  background-color: #231F20;
}

.nav-img img {
  height: auto;
  max-width: 35%;
}

.pic-words {
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}